**Data Types and Structures**

1. What are data structures, and why are they important?

 - Data structures are fundamental to computer science, defining how data is organized, stored, and processed in a computer system. They provide a way to efficiently access, manage, and manipulate data, which is crucial for building efficient and effective software applications. Data structures are essential for performance, readability, and scalability of code, as well as how well it solves the problem at hand.

2.  Explain the difference between mutable and immutable data types with examples

- In programming, mutable data types allow their values to be modified after creation, while immutable data types cannot be changed once created. If you try to change an immutable object, you'll typically get a new object with the modified value, rather than modifying the original.

3. What are the main differences between lists and tuples in Python?

- Lists and tuples are both ordered sequences in Python, but they have key differences:

Mutability: Lists are mutable, meaning their elements can be changed after creation (add, remove, modify). Tuples are immutable; once created, their elements cannot be changed.

Syntax: Lists are defined using square brackets [ ], while tuples use parentheses ().

Use cases: Lists are suitable for collections of items that may need to be modified, while tuples are used for fixed data or when data integrity is crucial.

Performance: Tuples are generally faster and more memory-efficient than lists due to their immutability.

Methods: Lists have more built-in methods for manipulation (e.g., append, insert, remove), while tuples have fewer methods due to their immutability.

4. Describe how dictionaries store data.

- Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format. In this example, myCar is the variable that we have assigned our dictionary to.

5. Why might you use a set instead of a list in Python?

- Sets and lists serve different purposes in Python, making one more suitable than the other depending on the situation. Here's why you might choose a set over a list:

Uniqueness: Sets, by definition, only store unique elements. If you need to ensure that there are no duplicates in your collection, using a set is an efficient way to achieve this. Adding a duplicate element to a set has no effect, it will simply not be added.

Membership Testing: Checking if an element exists within a set is significantly faster than doing the same in a list. Sets are implemented using hash tables, which allow for near-constant time complexity (O(1)) for membership testing. Lists, on the other hand, require linear time complexity (O(n)) as they might have to iterate over every element.

Set Operations: Sets provide built-in operations like union, intersection, and difference, which are useful for comparing and combining collections of data. These operations are not directly available for lists and would require more complex code to implement.

6.  What is a string in Python, and how is it different from a list?

 - 1 - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets [].

 - 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7. How do tuples ensure data integrity in Python?

- Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout the program's execution. Immutability prevents accidental or unintended modifications, safeguarding the integrity of the data. This makes tuples suitable for situations where data consistency is critical, such as storing fixed records, representing coordinates, or using them as keys in dictionaries.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores key-value pairs, where each key is unique and mapped to a specific location (index) in an array using a hash function. This allows for efficient retrieval, insertion, and deletion of data. The hash function computes the index, also called the hash code, for a given key.

In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine the storage location. This implementation allows dictionaries to provide average-case O(1) time complexity for common operations like accessing, inserting, and deleting elements.

9. Can lists contain different data types in Python?

Yes, lists in Python are capable of storing elements of different data types. A single list can contain integers, strings, floats, booleans, and even other lists or data structures like dictionaries and tuples. This flexibility is a core feature of Python lists and is often used to group related but differently-typed data together.

10. Explain why strings are immutable in Python.

- Immutable strings allow for memory optimization. When multiple variables have the same string value, they can all reference the same memory location. If strings were mutable, each variable would need its own copy, wasting memory.

11. What advantages do dictionaries offer over lists for certain tasks.

- So it is more efficient to use dictionaries for the searching of
elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

12. Describe a scenario where using a tuple would be preferable over a list.

- Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Use a tuple if you need an immutable collection where the elements won't change after creation.

13. How do sets handle duplicate values in Python.

- Sets in Python are designed to store only unique elements. When a user attempts to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that each element within the set is distinct. This behavior is fundamental to the nature of sets as unordered collections of unique items.

14. How does the “in” keyword work differently for lists and dictionaries.

- The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm

15. Can you modify the elements of a tuple? Explain why or why not.

- No, you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case.

- A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels. A common use case for nested dictionaries is representing complex, multi-layered data, such as employee information with nested address and contact details.

17. Describe the time complexity of accessing elements in a dictionary.

- Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size. However, in the worst-case scenario, it can degrade to O(n), where n is the number of key-value pairs, if there are many hash collisions.

Explanation: Dictionaries, in most programming languages, are implemented using has h tables. Hash tables use a hash function to map keys to indices in an array (or a similar structure). When you access an element by its key, the hash function quickly determines the potential location of that key-value pair in the array. This lookup is very efficient and takes constant time on average, hence O(1)

18. In what situations are lists preferred over dictionaries.

- For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

 19. Why are dictionaries considered unordered, and how does that affect data retrieval.

- A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- In terms of data retrieval, a dictionary offers significantly faster lookup of values based on unique keys compared to a list, which relies on numerical indices. Dictionaries, using a hash table, can find values associated with a key in an average of O(1) (constant) time, while lists, requiring sequential searching, have an average time complexity of O(n) (linear).

Lists:

Ordered: Elements are stored and accessed based on their position (index) in the sequence, starting from 0.

Indexing: Elements are accessed using numerical indices (e.g., my_list to get the third element).

Lookup Speed: inding a specific element in a list requires iterating through it until the element is found, resulting in a potentially slow lookup, especially for large lists.

Dictionaries:

Unordered: Elements are stored as key-value pairs, and the order of insertion is not guaranteed.

Keys: Elements are accessed using unique keys, not indices. These keys can be of various data types.

Lookup Speed: Dictionaries use a hash table to store key-value pairs, allowing for extremely fast lookups based on keys. The lookup time is typically O(1) on average.

PRACTICAL QUESTIONS

1. Write a code to create a string with your name and print it

In [ ]:
String = "FAIZ AHMED"
print(String)

FAIZ AHMED

2. Write a code to find the length of the string "Hello World"

In [ ]:
s = "Hello world"
length = len(s)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"P

In [ ]:
String = "Python Programming"
String = String[0:3]
print(String)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
text = "hello"
text.swapcase()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s = "orange"
s.replace("orange","apple")

'apple'

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list = [1,2,3,4,]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
from os import remove
remove = [1,2,3,4,5]
remove.remove(3)
print(remove)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list =  ['a', 'b', 'c', 'd']
list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
tuple = ('red', 'green', 'blue', 'yellow')
tuple[2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
number = (10, 20, 5, 15)
min(number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
find = ('dog', 'cat', 'rabbit')
find.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
tuple = ('apple','banana','kiwi')
if 'kiwi' in tuple:
    print('yes')
else:
    print('no')

yes

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
set = {'a', 'b', 'c'}
print(set)

{'c', 'b', 'a'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

19.. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set = {1, 2, 3}
set1 ={3,4,5}
set.union(set1)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
find = {1, 2, 3}
find1 = {2, 3, 4}
find.intersection(find1)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
dict = {"name":"faiz","age":23,"city":"siliguri"}
print(dict)

{'name': 'faiz', 'age': 23, 'city': 'siliguri'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
name_value

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print('yes')
else:
        print('no')

yes

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (6, 7, 8, 9, 10)
my_dict = {"name": "Faiz", "age": 23, "city": "siliguri"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9, 10)
Dictionary: {'name': 'Faiz', 'age': 23, 'city': 'siliguri'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = []
for _ in range(5):
  random_numbers.append(random.randint(1, 100))

random_numbers.sort()
random_numbers

[9, 60, 62, 97, 100]

28.  Write a code to create a list with strings and print the element at the third index

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[2])

cherry

29.Write a code to combine two dictionaries into one and print the result

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1.copy()
combined_dict.update(dict2)

combined_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["cricket", "football", "hockey", "cricket"]
string_set = set(string_list)
print(string_set)

{'cricket', 'hockey', 'football'}